__pycache__
.conda/
.ipynb_checkpoints
catboost_info
copies
updation_app

.cache.sqlite
.cache
.dockerignore
.gcloudignore
bigquery-key.json
fastapi_trial.ipynb

Dockerfile
Dockerfile_for_backend
Dockerfile_for_bigquer

README.md